<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title>
        Материалы
    </title>
</head>
<body>
<div layout:fragment="content">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col"></th>
            </tr>
            </thead>
            </tbody>
            <tr th:each="material, iterator: ${material}">
                <th scope="row" th:text="${iterator.index} + 1"></th>
                <td th:text="${material.id}"></td>
                <td th:text="${material.name}"></td>
                <td style="width: 10%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-warning button-fixed button-sm"
                           th:href="@{/material/edit/{id}(id=${material.id})}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> " Изменить "
                        </a>
                        <button type="button" class="btn btn-danger button-fixed button-sm"
                                th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${material.id}').click()|">
                            <i class="fa fa-trash" aria-hidden="true"></i> " Удалить "
                        </button>
                    </div>
                    <form th:action="@{/material/delete/{id}(id=${material.id})}" method="post">
                        <button th:id="'remove-' + ${material.id}" type="submit" style="display: none">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <a class="btn btn-success button-fixed"
           th:href="@{/material/edit/}">
            <i class="fa-solid fa-plus"></i> Добавить материал
        </a>
    </div>
</div>
</body>
</html>